@model IEnumerable<Car_Service_Station.Models.Car>

@{
    ViewData["Title"] = "Car Index";
}

<h1>Car Index</h1>

<p>
    <a asp-controller="Car" asp-action="AddCar" class="btn btn-primary">Create New Car</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <!-- Add other columns as needed -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <!-- Add other columns as needed -->
            </tr>
        }
    </tbody>
</table>
